@import "../../App.scss";


.rightbar{
    @include themify($themes){
        @include mobile{
            display:  none;
        }
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    &::-webkit-scrollbar{
        display:  none;
    }
    background-color: themed("bgSoft");
    color: themed('textColor');
    .container{
        padding: 20px;
        .item{
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow:  0px 0px 15px 1px themed("border");
            background-color: themed("bg");
            span{
                color: themed("textColor");
            }
            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;
                
                .userinfo{
                    p{
                        color: themed("textColorSoft");
                        
                        span{
                            color: themed("textColor");
                            font-weight: 800;
                        }
                    }
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    position: relative;
                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .online{
                        height: 12px;
                        width: 12px;
                        border-radius: 50%;
                        background-color: lawngreen;
                        position: absolute;
                        top: 0px;
                        left: 30px;
                    }
                    span{
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
                .buttons{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    button{
                        font-weight: 800;
                        border: none;
                        padding: 5px;
                        color: themed('textColor');
                        cursor: pointer;
                        &:first-child{
                            background-color: rgba(0, 0, 255, 0.679);
                        }
                        &:last-child{
                            background-color: rgba(255, 0, 0, 0.682);
                        }
                    }
                    
                }
            }
        }
        
    }
}
}