@import "../../App.scss";
.chatonline{
    margin-top: 10px;
    padding: 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include themify($themes){
    .chatonlinefriend{
        margin-top: 10px;
        display: flex;
        align-self: center;
        align-items: center;
        font-weight: 500;
        cursor: pointer;
        .chatonlineimg{
            position: relative;
            img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid white;
            margin-right: 15px;
            }
            .chatonlinedot{
                position: absolute;
                width: 10px;
                height: 10px;
                top: 0px;
                right: 2px;
                border-radius: 50%;
                background-color: greenyellow;
            }
        }


    }

}}